#puerto de despliegue
PORT=4209

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# DATABASE_URL="postgresql://{{User}}:{{Pass}}@{{IP}}:{{Port}}/{{Database}}?schema=public"
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/sigmaliteadmin?schema=public"
# SMTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_SECURE='true'
SMTP_USERNAME="no.reply.sigmahis@gmail.com"
SMTP_PASSWORD="wnirxcjyewgwqqzu"
# JWT
JWT_SECRET="hx1ccpYpzDB6Lq1KZo6bGqsNCwAwSlX7"
# proyect
directory="/root/apps/sigmalite-administrador-backend/apps/backend/src/"
domainApi=
  